MCsquare/bin/Materials/
basedata/protons_MIT_P_doubleGauss.mat
basedata/protons_MIT_P_doubleGauss_10k_Points.mat
basedata/protons_MIT_P_doubleGauss_woOffset.mat
basedata/protons_MIT_P_doubleGauss_wOffset.mat
basedata/protons_MIT_P_singleGauss.mat
